@import '../../variables.scss';
.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-figure-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;

  & .money {
    font-size: 2.3rem;
  }

  & .title {
    font-size: 1.8rem;
  }
}

.chart-holder {
  width: 100%;
  height: 85%;
}

.home-body {
  margin-top: 3rem;
}
