@import '../../variables.scss';
.MuiChip-colorPrimary {
  color: #fff;
  background-color: $pink-color !important;
}

.MuiChip-root {
  padding: 1rem 1.2rem !important;
  font-size: 1.5rem !important;
}
